* {
  margin: 0;
  padding: 0;
  transition: 0.1s; }

body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  color: #303030; }

.container {
  max-width: 450px;
  margin: 0 auto; }

h3 {
  color: #C3FF00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h4 {
  text-transform: uppercase; }
  nav {
    background-color: #303030;
    color: #EFEFEF; }
    nav .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      nav .container object {
        width: 4.5em;
        padding: 1.2em 0.5em; }
      nav .container .login-button,
      nav .container .menu-button {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding: 1em 1.25em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer; }
